.subs-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 30px;
}

.subs-heading{
    font-size: 2.6rem;
    color: rgb(221, 220, 220);
    text-align: center;
    padding: 0 30px;
}

.subs-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    gap: 20px;
}

@media screen and (max-width: 1300px) {
    .subs-container{
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 850px) {
    .subs-container{
        grid-template-columns: 100%;
    }
}
@media screen and (max-width: 350px) {
    .subs-heading{
        font-size: 1.9rem;
    }
}