
h2,p,li{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
h1{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a:-webkit-any-link{
  text-decoration: none;
}